---
layout: page
title: Course Syllabus
nav: true
---

<b>N.B.</b> Course Syllabus is preliminary and always subject to change

<table>

  <tr>
    <th style="width:5%">Date</th>
    <th style="width:40%">Lesson</th>
    <th style="width:25%">Topics</th>
    <th style="width:10%">Reading</th>
    <th style="width:10%">Lecture</th>
    <th style="width:10%">Assignment</th>
  </tr>

  {% for lesson in site.data.lessons %}
    <tr>
      <td align="right">{{ lesson.date }}</td>
      <td><b>{{ lesson.title }}<b/></td>
      <td>{{ lesson.topics }}</td>

      {%if lesson.reading %}
      <td align="center"><a href="{{ lesson.reading }}">
          <i class="fa fa-book fa-lg"></i></a></td>
      {% else %}
        <td align="center"><font color="f1f1f1">
          <i class="fa fa-book fa-lg"></i></font></td>
      {% endif %}

      {%if lesson.lecture %}
      <td align="center"><a href="{{ site.baseurl }}/lectures/{{ lesson.lecture  }}">
          <i class="fa fa-comment fa-lg"></i></a></td>
      {% else %}
        <td align="center"><font color="f1f1f1">
          <i class="fa fa-comment fa-lg"></i></font></td>
      {% endif %}

      {%if lesson.assignment %}
      <td align="center"><a href="{{ site.baseurl }}/assignments/{{ lesson.assignment }}">
          <i class="fa fa-keyboard-o fa-lg"></i></a></td>
      {% else %}
        <td align="center"><font color="f1f1f1">
          <i class="fa fa-keyboard-o fa-lg"></i></font></td>
      {% endif %}
    </tr>

  {% endfor %}

</table>

<i>Date gives the date of the Friday interactive lecture.  Students will
continue to work on these assigments in the lab session on the following
Tuesday and outside of class.</i>


